@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
@*<h3>@Model.Message</h3>*@

<address>
    22 Eddy Street<br />
    Gatineau, Quebec  K1A 0M7<br />
    <abbr title="Phone">P:</abbr>
    1-800-465-7735
</address>

<address>
    <strong>Marketing:</strong> <a href="mailto:cfp.media.psc@canada.ca">cfp.media.psc@canada.ca</a>
</address>
