@page
@model LoginModel
@{
    ViewData["Title"] = "Login";
}
@*<h2>@ViewData["Title"]</h2>*@
@*<h3>@Model.Message</h3>*@

<div class="row">
    <div class="col-md-8">
        <section>
            <form method="post" role="form" class="form-horizontal">
                @*    @Html.AntiForgeryToken()*@

                <br /><h3>Welcome!</h3>
                <hr />

                <div class="left">
                    <h3>Log in</h3> <br />
                    Username : <input name='UserName' /> <br><br>
                    Password : <input name='Password' type='password' /> <br><br>
                    <div class="form-group">
                        <div class="col-md-offset-5 col-md-10">
                            <button asp-page-handler="LogIn" class="btn btn-default">Log in</button>
                        </div>
                    </div>
                    <br />
                    <div class="col-md-offset-1">
                        <a asp-page="/ResetPassword">Forgot password? Reset it here.</a>
                    </div>
                </div>
                <div class="right">
                    <h3>Sign up</h3> <br />
                    Username : <input name='UserName' /> <br><br>
                    Password : <input name='Password' type='password' /> <br><br>
                    <div class="form-group">
                        <div class="col-md-offset-5 col-md-10">
                            <button asp-page-handler="SignUp" class="btn btn-default">Sign up</button>
                        </div>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>
